<%- include("header.ejs") %>

    <%- include("sidebar.ejs") %>
        <div class="col-7 blog-main test ">
            <form action="/create" method="post">
                <div class="form-group mb-5">
                    <label for="exampleFormControlInput1">Titel</label>
                    <input type="text" name="title" class="form-control" id="exampleFormControlInput1"
                        placeholder="A smart Titel">
                </div>
                <div class="form-group mb-3">
                    <label for="exampleFormControlTextarea1">Short Description</label>
                    <textarea class="form-control" name="description" id="exampleFormControlTextarea1"
                        rows="1"></textarea>
                </div>
                <div class="form-group mb-3">
                    <label for="exampleFormControlTextarea1">The main Text goes here</label>
                    <textarea class="form-control" name="text" id="exampleFormControlTextarea1" rows="6"></textarea>
                </div>
                <button type="submit" class="btn btn-lg btn-block btn-primary">Post</button>
            </form>
        </div>
        <%- include("footer.ejs") %>