<div class="row ">
    <div class=" m-l-3 col-4 sidebar p-l-1">
        <div class="d-flex flex-column align-items-stretch bg-body-tertiary" style="width: 340px;">
            <a href="/"
                class="d-flex align-items-center flex-shrink-0 p-3 link-body-emphasis text-decoration-none border-bottom">

                <span class="fs-5 fw-semibold">List group</span>
            </a>
            <div class="list-group list-group-flush border-bottom scrollarea">
                <% data.forEach(post=> { %>


                    <a href="/posts/<%=post.id %>" class="list-group-item list-group-item-action  py-3 lh-sm"
                        aria-current="true">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <strong class="mb-1">
                                <%= post.title %>
                            </strong>
                            <small>
                                <%= post.date %>
                            </small>
                        </div>
                        <div class="col-10 mb-1 small">
                            <%= post.description %>
                        </div>
                    </a>
                    <% }) %>
            </div>
        </div>
    </div>